{% extends 'g_forms/layout.html' %}

{% load static %}

{% block body %}
<div class="create-form">
    <div class="container">
        <p class="forms-label">Start a new form</p>
        <div class="form-template-box">
            <img src="{% static 'Icon/blank-form.png' %}" alt="Blank form" title="Blank form"
                id="create-blank-form">
            <span class="form-template-label">Blank Form</span>
        </div>
        <div class="form-template-box big-screen">
            <img src="{% static 'Template/contact_information.png' %}" alt="Contact Information"
                title="Contact Information" id="create-contact-form">
            <span class="form-template-label">Contact Information</span>
        </div>
        <div class="form-template-box big-screen">
            <img src="{% static 'Template/customer_feedback.png' %}" alt="Customer Feedback"
                title="Customer Feedback" id="create-customer-feedback">
            <span class="form-template-label">Customer Feedback</span>
        </div>
        <div class="form-template-box big-screen">
            <img src="{% static 'Template/customer_feedback.png' %}" alt="Event Registration"
                title="Event Registration" id="create-event-registration">
            <span class="form-template-label">Event Registration</span>
        </div>
    </div>
</div>
<div class="container">
    <div class="form-list">
        <p class="forms-label">Your forms:</p>
        {% for i in forms %}
        <a href="{% url 'edit_form' i.code %}" class="form-list-link">
            <div class="form-box">
                <div class="form-list-title">
                    <h5 class="form-list-title-text">{{i.title}}</h5>
                </div>
                {% if i.createdAt == i.updatedAt %}
                <p class="form-list-timestamp">{{i.createdAt}}</p>
                {% else %}
                <p class="form-list-timestamp">{{i.updatedAt}}</p>
                {% endif %}
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}